@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole >

@{ 
    ViewBag.Title = "Roles";
}

<h1>Roles</h1>

@if (Model.Any())
{

    <a class="btn btn-success mb-3" style="width:auto" asp-action="CreateRole" asp-controller="admin">Add a new role</a> 

    foreach(var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                ID: @role.Id
            </div>
        <div class="card-body">
            <h5 class="card-title">@role.Name</h5>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-outline-secondary">Edit</a>
            <a href="#" class="btn btn-outline-danger">Delete</a>

        </div>
        
        
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            There are no roles created
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Create a role with the button below
            </h5>
            <a class="btn btn-outline-success" style="width:auto" asp-controller="admin" asp-action="CreateRole">
                Create Role
            </a>
        </div>





    </div>

}