<h3>An error occured while processing your request. 
    The developer is notified and please be patient until the error is fixed</h3>
<h5>Please contact the developer on developer@gmail.com</h5>

<hr />
<div class="alert-info">
    <h3>Exception Path</h3>
    <hr />
    <p>@ViewBag.ExceptionPath</p>
</div>

<div class="alert-info">
    <h5>Exception Message</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert-info">
    <h5>Exception Stack Trace</h5>
    <hr />
    <p>@ViewBag.ExceptionStackTrace</p>
</div>
