@model HomeDetailsViewModel

@{
    
    ViewBag.Title = "Student Details";
}

<h3>@Model.PageTitle</h3>
@{
    var student = ViewData["Student"] as StudentsManagement.Models.Student;
}

<div>
    Name: @Model.Student.Name
</div>

<div>
    Surname: @Model.Student.Surname
</div>

<div>
    Class: @Model.Student.Class
</div>

@section Scripts{ 
    <script src="~/JS/CustomScript.js"></script>
}